@import url("https://fonts.googleapis.com/css?family=Anton|Roboto");
* {
  padding: 0%;
  margin: 0%;
}

#navbarToggleExternalContent {
  background-color: black;
}

#navbarToggleExternalContent .nav-start {
  background-color: black;
  text-align: center;
}

#navbarToggleExternalContent .nav-start img {
  margin-top: 5%;
  height: 70px;
  width: 70px;
}

#navbarToggleExternalContent .nav-start h5 {
  font-family: font-file-82132;
  color: #fff;
  margin-top: 1px;
  font-size: 1.5rem;
  font-weight: bolder;
}

#navbarToggleExternalContent .nav-start p {
  font-family: 'Open Sans';
  color: #a5a5a5;
  font-size: 0.8rem;
  margin-top: 1rem;
}

#navbarToggleExternalContent .nav-links {
  background-color: #181818;
  padding-top: 50px;
}

#navbarToggleExternalContent .nav-links ul {
  margin-bottom: 0%;
  padding-left: 0%;
}

#navbarToggleExternalContent .nav-links ul li {
  list-style-type: none;
  text-align: center;
}

#navbarToggleExternalContent .nav-links ul li a {
  text-decoration: none;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 1rem;
  color: #909096;
  line-height: 3rem;
  border-bottom: 1px solid #6e6b6b;
}

#navbarToggleExternalContent .nav-links ul li a:hover {
  color: aqua;
}

#navbarToggleExternalContent .socialicons {
  background-color: #181818;
  text-align: center;
}

#navbarToggleExternalContent .socialicons ul {
  margin-bottom: 0%;
  padding-left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

#navbarToggleExternalContent .socialicons ul li {
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0px 20px 0px;
}

#navbarToggleExternalContent .socialicons ul li a {
  color: #909096;
  text-decoration: none;
  padding: 10px;
}

#navbarToggleExternalContent .socialicons ul li a svg {
  height: 20px;
  width: 20px;
}

#navbarToggleExternalContent .socialicons ul li a:hover {
  color: aqua;
}

.navbar {
  background: #1d1d1d;
  width: 80px;
}

.IntroDiv {
  background: #1d1d1d;
  color: #fff;
  padding-left: 7%;
  height: 680px;
  padding-top: 3%;
}

.IntroDiv .tags {
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 18px;
  font-style: italic;
}

.IntroDiv .word {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.IntroDiv .word span {
  cursor: pointer;
  display: inline-block;
  font-size: 100px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: .8;
}

.IntroDiv .word span:nth-child(1).active {
  -webkit-animation: balance 1.5s ease-out;
          animation: balance 1.5s ease-out;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

@-webkit-keyframes balance {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30%,
  60% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes balance {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30%,
  60% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.IntroDiv .word span:nth-child(3).active {
  -webkit-animation: shrinkjump 1s ease-in-out;
          animation: shrinkjump 1s ease-in-out;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

@-webkit-keyframes shrinkjump {
  10%,
  35% {
    -webkit-transform: scale(2, 0.2) translate(0, 0);
            transform: scale(2, 0.2) translate(0, 0);
  }
  45%,
  50% {
    -webkit-transform: scale(1) translate(0, -150px);
            transform: scale(1) translate(0, -150px);
  }
  80% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
}

@keyframes shrinkjump {
  10%,
  35% {
    -webkit-transform: scale(2, 0.2) translate(0, 0);
            transform: scale(2, 0.2) translate(0, 0);
  }
  45%,
  50% {
    -webkit-transform: scale(1) translate(0, -150px);
            transform: scale(1) translate(0, -150px);
  }
  80% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
}

.IntroDiv .word span:nth-child(8).active {
  -webkit-animation: falling 2s ease-out;
          animation: falling 2s ease-out;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

@-webkit-keyframes falling {
  12% {
    -webkit-transform: rotateX(240deg);
            transform: rotateX(240deg);
  }
  24% {
    -webkit-transform: rotateX(150deg);
            transform: rotateX(150deg);
  }
  36% {
    -webkit-transform: rotateX(200deg);
            transform: rotateX(200deg);
  }
  48% {
    -webkit-transform: rotateX(175deg);
            transform: rotateX(175deg);
  }
  60%,
  85% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes falling {
  12% {
    -webkit-transform: rotateX(240deg);
            transform: rotateX(240deg);
  }
  24% {
    -webkit-transform: rotateX(150deg);
            transform: rotateX(150deg);
  }
  36% {
    -webkit-transform: rotateX(200deg);
            transform: rotateX(200deg);
  }
  48% {
    -webkit-transform: rotateX(175deg);
            transform: rotateX(175deg);
  }
  60%,
  85% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

.IntroDiv .word span:nth-child(7).active {
  -webkit-animation: rotate 1s ease-out;
          animation: rotate 1s ease-out;
}

@-webkit-keyframes rotate {
  20%,
  80% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes rotate {
  20%,
  80% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.IntroDiv .word span:nth-child(5).active {
  -webkit-animation: toplong 1.5s linear;
          animation: toplong 1.5s linear;
}

@-webkit-keyframes toplong {
  10%,
  40% {
    -webkit-transform: translateY(-48vh) scaleY(1);
            transform: translateY(-48vh) scaleY(1);
  }
  90% {
    -webkit-transform: translateY(-48vh) scaleY(4);
            transform: translateY(-48vh) scaleY(4);
  }
}

@keyframes toplong {
  10%,
  40% {
    -webkit-transform: translateY(-48vh) scaleY(1);
            transform: translateY(-48vh) scaleY(1);
  }
  90% {
    -webkit-transform: translateY(-48vh) scaleY(4);
            transform: translateY(-48vh) scaleY(4);
  }
}

.IntroDiv .word .blast {
  color: #fff;
  margin: 0;
  font-family: font-file-82132;
  font-weight: bolder;
  font-size: 6rem;
  line-height: 5rem;
  padding: 1%;
}

.IntroDiv img {
  height: 70px;
  width: 70px;
  position: relative;
  top: -23px;
}

.IntroDiv .FSD {
  font-size: 1.1rem;
  letter-spacing: 6px;
  margin-bottom: 0%;
  display: block;
  color: #8d8d8d;
  padding-left: 2%;
}

.IntroDiv .Contact span a {
  text-decoration: none;
  color: #08fdd8;
  font-size: 14px;
  letter-spacing: 4px;
  font-family: "Open Sans", sans-serif;
  margin-top: 35px;
  width: 220px;
  line-height: 50px;
  display: block;
  text-align: center;
  border: 1px solid #08fdd8;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.IntroDiv .Contact span a:hover {
  color: #075449;
  background-color: #08fdd8;
  width: 220px;
}

.MyPortfolio {
  background: #1d1d1d;
  padding-left: 7%;
  height: 400px;
}

.MyPortfolio .tags {
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 18px;
  font-style: italic;
}

.MyPortfolio .PortfolioInfo .word {
  font-family: font-file-82132;
  color: #08fdd8;
  font-weight: bolder;
  padding: 1%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 4rem;
  line-height: 3rem;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.MyPortfolio .PortfolioInfo .word span {
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: .8;
}

.MyPortfolio .PortfolioInfo .word span:nth-child(1).active {
  -webkit-animation: balance 1.5s ease-out;
          animation: balance 1.5s ease-out;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

@keyframes balance {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30%,
  60% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.MyPortfolio .PortfolioInfo .word span:nth-child(2).active {
  -webkit-animation: shrinkjump 1s ease-in-out;
          animation: shrinkjump 1s ease-in-out;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

@keyframes shrinkjump {
  10%,
  35% {
    -webkit-transform: scale(2, 0.2) translate(0, 0);
            transform: scale(2, 0.2) translate(0, 0);
  }
  45%,
  50% {
    -webkit-transform: scale(1) translate(0, -150px);
            transform: scale(1) translate(0, -150px);
  }
  80% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
}

.MyPortfolio .PortfolioInfo .ParaP p {
  font-size: 1rem;
  line-height: 1.5;
  display: block;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  padding-left: 2%;
  margin-top: 10px;
}

.MyPortfolio .MyWork span a {
  text-decoration: none;
  color: #08fdd8;
  font-size: 14px;
  letter-spacing: 4px;
  font-family: "Open Sans", sans-serif;
  margin-top: 35px;
  width: 220px;
  line-height: 50px;
  display: block;
  text-align: center;
  border: 1px solid #08fdd8;
  -webkit-transition: width 1s;
  transition: width 1s;
  margin-top: 13.2rem;
  margin-left: -5rem;
}

.MyPortfolio .MyWork span a:hover {
  color: #075449;
  background-color: #08fdd8;
  width: 220px;
}
/*# sourceMappingURL=Style.css.map */