* {
  padding: 0%;
  margin: 0%;
}

#navbarToggleExternalContent {
  background-color: black;
}

#navbarToggleExternalContent .nav-start {
  background-color: black;
  text-align: center;
}

#navbarToggleExternalContent .nav-start img {
  margin-top: 5%;
  height: 70px;
  width: 70px;
}

#navbarToggleExternalContent .nav-start h5 {
  font-family: font-file-82132;
  color: #fff;
  margin-top: 1px;
  font-size: 1.5rem;
  font-weight: bolder;
}

#navbarToggleExternalContent .nav-start p {
  font-family: 'Open Sans';
  color: #a5a5a5;
  font-size: 0.8rem;
  margin-top: 1rem;
}

#navbarToggleExternalContent .nav-links {
  background-color: #181818;
  padding-top: 50px;
}

#navbarToggleExternalContent .nav-links ul {
  margin-bottom: 0%;
  padding-left: 0%;
}

#navbarToggleExternalContent .nav-links ul li {
  list-style-type: none;
  text-align: center;
}

#navbarToggleExternalContent .nav-links ul li a {
  text-decoration: none;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 1rem;
  color: #909096;
  line-height: 3rem;
  border-bottom: 1px solid #6e6b6b;
}

#navbarToggleExternalContent .nav-links ul li a:hover {
  color: aqua;
}

#navbarToggleExternalContent .socialicons {
  background-color: #181818;
  text-align: center;
}

#navbarToggleExternalContent .socialicons ul {
  margin-bottom: 0%;
  padding-left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

#navbarToggleExternalContent .socialicons ul li {
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0px 20px 0px;
}

#navbarToggleExternalContent .socialicons ul li a {
  color: #909096;
  text-decoration: none;
  padding: 10px;
}

#navbarToggleExternalContent .socialicons ul li a svg {
  height: 20px;
  width: 20px;
}

#navbarToggleExternalContent .socialicons ul li a:hover {
  color: aqua;
}

.navbar {
  background-color: black;
}

.IntroDiv {
  background-color: black;
  color: #fff;
  padding-left: 7%;
  height: 600px;
}

.IntroDiv .tags {
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 18px;
  font-style: italic;
}

.IntroDiv .blast {
  color: #fff;
  margin: 0;
  font-family: font-file-82132;
  font-weight: bolder;
  font-size: 6rem;
  line-height: 5rem;
  padding: 1%;
}

.IntroDiv .blast:hover {
  color: aqua;
}

.IntroDiv img {
  height: 70px;
  width: 70px;
  position: relative;
  top: -23px;
}

.IntroDiv .FSD {
  font-size: 1.1rem;
  letter-spacing: 6px;
  margin-bottom: 0%;
  display: block;
  color: #8d8d8d;
  padding-left: 2%;
}

.IntroDiv .loading {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  text-transform: uppercase;
  width: 150px;
  line-height: 50px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.IntroDiv .loading span {
  position: relative;
  color: #fff;
}

.IntroDiv .loading span a {
  text-decoration: none;
  color: #fff;
}

.IntroDiv .loading:before {
  content: '';
  background: #1bc7b9;
  width: 128px;
  height: 36px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: 2s loadingBefore infinite ease-in-out;
          animation: 2s loadingBefore infinite ease-in-out;
}

@-webkit-keyframes loadingBefore {
  0% {
    -webkit-transform: translateX(-14px);
            transform: translateX(-14px);
  }
  50% {
    -webkit-transform: translateX(14px);
            transform: translateX(14px);
  }
  100% {
    -webkit-transform: translateX(-14px);
            transform: translateX(-14px);
  }
}

@keyframes loadingBefore {
  0% {
    -webkit-transform: translateX(-14px);
            transform: translateX(-14px);
  }
  50% {
    -webkit-transform: translateX(14px);
            transform: translateX(14px);
  }
  100% {
    -webkit-transform: translateX(-14px);
            transform: translateX(-14px);
  }
}

.IntroDiv .loading:after {
  content: '';
  background: #ff3600;
  width: 14px;
  height: 60px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: .5;
  -webkit-animation: 2s loadingAfter infinite ease-in-out;
          animation: 2s loadingAfter infinite ease-in-out;
}

@-webkit-keyframes loadingAfter {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  50% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

@keyframes loadingAfter {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  50% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}
/*# sourceMappingURL=Style.css.map */